@font-face {
    font-family: 'letras';
    src: url(../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'letras';
}

body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background-size: cover;
    margin-left: 1vw;
}

.contenedor{
    border: 2px solid gray;
    border-radius: 1rem;
    width: 30vw;
    min-height: fit-content;
    min-width: fit-content;
    height: 40vh;
    justify-self: center;
}

a{
    all: unset;
}


.inputs{
    display: block;
    justify-self: center;
    width: 50%;
}

input::placeholder{
    position: relative;
    text-align: center;
    font-size: 1.2rem;
}

.login_email{
    background-image: url(../img/email-icon-mail-sign-suitable-for-web-page-digital-communication-symbol-envelope-icons-vector.jpg);
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: 5%;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.login_password{
    background-image: url(../img/email-icon-mail-sign-suitable-for-web-page-digital-communication-symbol-envelope-icons-vector.jpg);
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: 5%;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.INICIAR_SESION{
    position: relative;
    background-color: rgb(30, 58, 138);
    top: 1rem;
    left: 3rem;
    width: 80%;
    height: 80%;
    border-radius: 1rem ;
    font-size: 1.8rem;
    color: white;
}

.Olvidaste_la_contraseña{
    display: flex;
    margin-right: 100rem;
    all: unset;
    font-size: 1.3rem;
    color: gray;
}

